:root
{
    --color_dark: #333;
    --color_normal: #777;
    --color_light: #ddd;

    --color_font: var(--color_light);
    --menubarH: 50px;
}

body
{
    font-family: sans-serif;
    color: var(--color_font);
    background-color: var(--color_normal);
    margin: 0; padding: 0;
}
label
{
    font-weight: bold;
}
input, textarea
{
    /* Animations */
    transition-duration: 200ms;
}
input[type="button"]
{
    /* Visuals */
    background-image: none;
    background-color: var(--color_font);
    color: var(--color_dark);

    /* Positions */
    margin: 5px; padding: 5px;
    border: 0;
    border-radius: 5px;

    /* Text */
    font-size: 15px;
    font-weight: bold;
}
input:hover, textarea:hover
{
    box-shadow: 0 0 10px var(--color_light);
}



/* __________
  |          |
  | Menu-Bar |
  |__________|
*/
#menu_bar
{
    background-color: var(--color_dark);
    /* Positions */
    z-index: 3;
    position: fixed;
    margin: 0 auto; padding: 0 auto;
    top: 0; left: 0; right: 0;
    height: var(--menubarH);
}



/* __________
  |          |
  | User-Tab |
  |__________|
*/
#user_tab
{
    background-color: var(--color_normal);
    border: 5px solid var(--color_normal);
    border-radius: 50%;
    background-image: url("../images/user.png");
    background-size: contain;
    background-repeat: no-repeat;

    /* Positions */
    position: fixed;
    text-align: center;
    margin: 0; padding: 0;
    top: 2.5px; right: 2.5px;
    width: 100px;
    height: 100px;

    transform: perspective(1000px);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
/* Hide everything by default */
#user_tab > *
{
    display: none;
}

/* Effects */
#user_tab:hover
{
    background-image: none;
    background-color: var(--color_dark);
    border: none;
    border-radius: 5px;

    box-shadow: 0 0 5px var(--color_light);
    
    /* Positions */
    padding: 25px;
    width: fit-content; min-width: 300px;
    height: fit-content; min-height: 200px;
}
#user_tab:hover > *
{
    display: block;
}

#form_container
{
    width: fit-content;
    margin-top: 60px;
    padding: 0 auto;
}


/* _________________
  |                 |
  | Login, Register |
  |_________________|
*/
#login_form, #register_form, #task_form, #schedule_form, #day_form
{
    width: fit-content;
    text-align: right;
}
#register_form, #user_data, #user_profile_buttons
{
    display: none;
}
textarea
{
    vertical-align: middle;
}


/* _________
  |         |
  | Content |
  |_________|
*/
#content
{
    z-index: 2;
    background-color: rgba(70, 70, 70, 0.95);
    margin: 0; padding: 0;
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    position: absolute;
}



/* __________
  |          |
  | Messages |
  |__________|
*/
#messages
{
    z-index: 4;
    position: fixed;
    bottom: 0; right: 0;
    margin-left: auto; margin-right: 0;
    width: fit-content;
}
.message
{
    background-color: rgba(23, 98, 20, 0.75);
    display: block;
    margin: 5px; padding: 10px;
    width: max-content;

    transition-duration: 300ms;
    animation-name: emerge;
    animation-duration: 5000ms;
}
.error
{
    background-color: rgba(102, 15, 15, 0.75) !important;
}

.warning
{
    background-color: rgba(155, 130, 19, 0.75) !important;
}

@keyframes emerge
{
    0% { transform: scale(0); }
    20% { transform: scale(1); }
    90% { transform: scale(1); }
    100% { transform: scale(0); }
}



/* _________
  |         |
  | Zombies |
  |_________|
*/
#game_button
{
    z-index: 2;
    position: fixed;
    left: 0; bottom: 0;
    width: var(--menubarH);
    height: var(--menubarH);
    border-radius: 50%;
    background-color: rgb(28, 14, 14);
}
#canvas
{
    z-index: 1;
    position: fixed;
    margin-top: var(--menubarH);
}