:root
{
    --color_dark: #333;
    --color_normal: #777;
    --color_light: #fff;

    --color_font: var(--color_light);
    --menubarH: 50px;
}

body
{
    font-family: sans-serif;
    color: var(--color_font);
    background-color: var(--color_normal);
    margin: 0; padding: 0;
}
label
{
    font-weight: bold;
}
input, textarea
{
    /* Animations */
    transition-duration: 200ms; 
}
input[type="button"]
{
    /* Visuals */
    background-image: none;
    background-color: var(--color_font);
    color: var(--color_dark);

    /* Positions */
    margin: 5px; padding: 5px;
    border: 0;
    border-radius: 5px;

    /* Text */
    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
}
input:hover, textarea:hover
{
    box-shadow: 0 0 10px var(--color_light);
}



/* __________
  |          |
  | Menu-Bar |
  |__________|
*/
#menu_bar
{
    background-color: var(--color_dark);
    /* Positions */
    z-index: 3;
    position: fixed;
    margin: 0 auto; padding: 0 auto;
    top: 0; left: 0; right: 0;
    height: var(--menubarH);
}

#menu_bar > h1
{
    transform: translateY(-50%);
}



/* __________
  |          |
  | User-Tab |
  |__________|
*/
#user_tab
{
    background-color: var(--color_normal);
    border: 5px solid var(--color_normal);
    border-radius: 50%;
    background-image: url("../images/user.png");
    background-size: contain;
    background-repeat: no-repeat;

    /* Positions */
    position: fixed;
    text-align: center;
    margin: 0; padding: 0;
    top: 2.5px; right: 2.5px;
    width: 50px;
    height: 50px;

    transform: perspective(1000px);
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
/* Hide everything by default */
#user_tab > *
{
    display: none;
}

/* Effects */
#user_tab:hover
{
    background-image: none;
    background-color: var(--color_dark);
    border: none;
    border-radius: 5px;

    box-shadow: 0 0 5px var(--color_light);
    
    /* Positions */
    padding: 25px;
    width: fit-content;
    height: fit-content;
}
#user_tab:hover > *
{
    display: block;
}

#form_container
{
    width: fit-content;
    margin-top: 60px;
    padding: 0 auto;
}


/* _________________
  |                 |
  | Login, Register |
  |_________________|
*/
#login_form, #register_form, #task_form, #schedule_form, #day_form
{
    width: fit-content;
    text-align: right;
    display: inline-block;
}
#task_form, #schedule_form, #day_form
{
    background-color: var(--color_dark);
    border: 1px solid black;
    margin: 20px; padding: 20px;
}
#register_form, #user_data, #user_profile_buttons
{
    display: none;
}
textarea
{
    vertical-align: middle;
}


/* _________
  |         |
  | Content |
  |_________|
*/
#content
{
    z-index: 2;
    background-color: rgba(70, 70, 70, 0.85);
    margin: 0; padding: 0;
    margin-top: 50px;
    width: 100%;
    height: fit-content; min-height: 100vh;
    text-align: center;
    position: absolute;
}

#tasks_page, #schedules_page, #days_page, #slots_page, #user_selector_page, #tabs, #current_schedule, #current_day
{
    display: none;
}

#tasks, #schedules, #days, #search_days
{
    margin: 25px 100px 25px 100px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.task, .schedule, .day
{
    background-color: var(--color_normal);
    box-shadow: 0 0 0 3px var(--color_dark), 0 0 0 6px var(--color_normal);
    
    display: inline;
    border-radius: 5px;
    margin: 20px; padding: 5px;

    transition-duration: 300ms;
}

.schedule, .day
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.schedule
{
    box-shadow:
        0 0 0 3px var(--color_dark),
        0 0 0 6px var(--color_normal),
        0 0 0 9px var(--color_dark),
        0 0 0 12px var(--color_normal);
}
.day
{
    border-radius: 10px 40px;
}
.task
{
    padding-bottom: 40px;
    border-bottom-left-radius: 100px 40px;
    border-bottom-right-radius: 100px 40px;
}

.task:hover, .schedule:hover, .day:hover
{
    transform: perspective(1000px) scale(1.5);
}

.task:hover h2, .schedule:hover h2, .day:hover h2
{
    cursor: pointer;
}
.task h2, .schedule h2, .day h2
{
    transition-duration: 300ms;
}
.task h2:hover, .schedule h2:hover, .day h2:hover
{
    transform: perspective(1000px) translateZ(100px);
}

.task p
{
    padding: 5px;
    border: 1px solid var(--color_light);
}

#slots, #search_slots
{
    margin: 25px 10px 25px 100px;
    float: left;
    display: grid;
    width: 40%;
}
#available_tasks
{
    margin: 25px 100px 25px 10px;
    float: left;
    display: grid;
    width: 40%;
}
.slot
{
    background-color: var(--color_normal);
    box-shadow: 0 0 2px black;
    
    display: inline;
    margin: 0; padding: 5px;
    min-height: 20px;
    
    text-align: center;
    word-break: break-word;
    
    transform: perspective(1000px) translateZ(0px);
    transition-duration: 300ms;
}

.slot::before
{
    content: attr(time);
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.slot::after
{
    content: attr(data);
    float: left;
}

.slot i
{
    float: right;
}

.slot:hover
{
    transform: perspective(1000px) translateZ(100px);
}

.task i, .schedule i, .day i
{
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label
{
    display: inline-block;
    width: 50px; height: 50px;
    background-image: url("../images/eye_closed.png");
    background-size: contain;
    transition-duration: 200ms;
}

input[type="checkbox"]:checked + label
{
    background-image: url("../images/eye.png");
}
input[type="checkbox"]:hover + label
{
    transform: scale(1.3);
}

tab
{
    display: inline-block;
    border: 3px solid var(--color_normal);
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
    background-color: var(--color_dark);
    margin: 20px; padding: 5px;
    transition-duration: 300ms;
}
tab:hover
{
    text-shadow: 0 0 5px black;
    transform: perspective(1000px) translateZ(300px);
    cursor: pointer;
}
#user_selector
{
    display: none;
}
/* Font icon colors */
.fa, .far
{
    transform: scale(2);
    margin: auto 1em;
    transition-duration: 200ms;
}
.fa:hover, .far:hover
{
    transform: scale(3);
}
.fa-trash-alt:hover {
    color: red;
}
.fa-cog:hover {
    color: green;
}
.fa-check:hover {
    color: green;
}
.fa-circle:hover {
    color: cyan;
}
.fa-check-circle:hover {
    color: green;
}



/* __________
  |          |
  | Messages |
  |__________|
*/
#messages
{
    z-index: 4;
    position: fixed;
    bottom: 0; right: 0;
    margin-left: auto; margin-right: 0;
    width: fit-content;
}
.message
{
    background-color: rgba(23, 98, 20, 0.75);
    display: block;
    margin: 5px; padding: 10px;
    width: max-content;

    transition-duration: 300ms;
    animation-name: emerge;
    animation-duration: 5000ms;
}
.error
{
    background-color: rgba(102, 15, 15, 0.75) !important;
}

.warning
{
    background-color: rgba(155, 130, 19, 0.75) !important;
}

@keyframes emerge
{
    0% { transform: scale(0); }
    20% { transform: scale(1); }
    90% { transform: scale(1); }
    100% { transform: scale(0); }
}



/* _________
  |         |
  | Zombies |
  |_________|
*/
#game_button
{
    z-index: 2;
    position: fixed;
    left: 0; bottom: 0;
    width: var(--menubarH);
    height: var(--menubarH);
    border-radius: 50%;
    background-color: rgb(28, 14, 14);
}
#canvas
{
    z-index: 1;
    position: fixed;
    margin-top: var(--menubarH);
}